<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Marriott's PostgreSQL I/O Application</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<%- include("_header") -%>
    <h1>PostgreSQL Application</h1>
    <% if(message !=="success" ) { %>
        <h1>We Encountered an Error</h1>
        <p>
            <%= message %>
        </p>
        <% } else { %>
            <h2>There are <%= model.length %> products in the database</h2>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <% model.forEach(product=> { %>
                        <tr>
                            <td>
                                <%= product.prod_id %>
                            </td>
                            <td>
                                <%= product.prod_name %>
                            </td>
                            <td>
                                <%= product.prod_desc %>
                            </td>
                            <td>
                                <%= product.prod_price %>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
            <% } %>
                <%- include("_footer") -%>
        </body>